<h1>Articles</h1>
 <%# add form to search an article %>
<%= form_for Search.new do |f| %>
  <%= f.label :query %>
  <%= f.text_field :query %>
  <%= f.submit "Search" %>
<% end %>
<%# use conditional statement if else to display articles if there are articles if not shows no article in the database %>
<% if @articles.any? %>
  <ul>
    <% @articles.each do |article| %>
      <li><%= article.title %></li>
    <% end %>
  </ul>
<% else %>
  <p>No article found</p>
<% end %>
